%header
  %p
    チャットグループが作成されました

.main
  .left-content
    .left-content__user
      %h1
        ryosukemaehira
      =link_to "#",class:"user__icon user__icon--right" do
        %i.fa.fa-cog.fa-lg(aria-hidden="true")
      =link_to "#",class:"user__icon user__icon--left" do
        %i.fa.fa-pencil-square-o.fa-lg(aria-hidden="true")
    %ul.group-name
      %li.group-name__list
        %h2
          神
        %p
          test
      %li.group-name__list
        %h2
          aeaaaaaa
        %p
          まだメッセージはありません。
      %li.group-name__list
        %h2
          sampleグループ
        %p
          まだメッセージはありません
  .right-content
    .group-bar
      .group-bar__text
        %h1
          sampleグループ
        %p
          Menbars:ryosukemaeshima
      =link_to "Edit" ,"#",class:"group-bar__edit"
    .chat-area
      .chat-message
        %span.chat-message__name
          ryosukemaeshima
        %span.chat-message__date
          2016/10/02 06:27:07
        %p.chat-message__text
          testmessage1
      .chat-message
        %span.chat-message__name
          ryosukemaeshima
        %span.chat-message__date
          2016/10/02 06:27:07
        %p.chat-message__text
          testmessage1
      .chat-message
        %span.chat-message__name
          ryosukemaeshima
        %span.chat-message__date
          2016/10/02 06:27:07
        %p.chat-message__text
          testmessage1

    .message-area
      =form_for(@message) do |f|
        .wrapper
          =f.text_field :body,placeholder:"type a message",class:"message-area__text"
        =f.label :image,class:"message-area__image" do
          %i.fa.fa-picture-o(aria-hidden="true")
        =f.file_field :image,class:"message-area__image",style: "display:none;"
        =f.submit "Send",{class:"message-area__button"}
