.chat-area
  - messages.each do |message|
    .chat-message
      %span.chat-message__name #{message.user.name}
      %span.chat-message__date #{message.created_at}
      %p.chat-message__text #{message.body}
