%header
  %p チャットグループが作成されました

.main
  .left-content
    = render partial: "./partial-templates/user-name"
    = render partial: "./partial-templates/group-name-bar", locals: {groups: @groups}
  .right-content
