.group-bar
  .group-bar__text
    %h1
      = groups.find(params[:group_id]).name
    %p Menbars: #{group_menbers}
  = link_to "Edit", edit_group_path(id: params[:group_id]), class: "group-bar__edit"
