%ul.group-name-list
  - groups.each do |group|
    %li.group-name-list__item
      = link_to group_messages_path(group_id: group.id) do
        %span.group-name-list__item--upper
          =group.name
        %br
        %span.group-name-list__item--bottom test
