//color
$header: #38aef0;
$left-content-upper: #253141;
$left-content-bottom: #2f3e51;
$right-content-upper: #ffffff;
$right-content-middle: #fafafa;
$right-content-bottom: #dddddd;
$edit-botton:#38aef0;
