.right-content{
    position: relative;;
    background-color: #333333;
    height: 100%;
    min-width: 300px;
    max-width: 100vw;
    overflow: hidden;    //感動したけど原理がわからん

    .group-bar{
      background-color: $right-content-upper;
      padding: 0 40px;
      height: 110px;
      border-bottom: solid 1px #eeeeee;
      @include clearfix;

      &__text{
        float: left;

         h1{
          margin-top: 35px;
          font-size: 20px;
          color: #333333;
        }

        p{
          color:#999999;
          margin: 15px 0;
        }
      }

      .group-bar__edit{
        float: right;
        margin-top:28px;
        padding: 0 20px;
        line-height: 40px;
        text-decoration: none;
        border: solid 1px #38aef0;
        color: #38aef0;
      }
    }

    .chat-area{
      position: absolute;
      top:110px;
      left: 0;
      right: 0;
      bottom: 90px;
      // overflow: auto;
      width: 100%;
      padding: 46px 40px 1px 40px;
      background-color: $right-content-middle;
      @include clearfix;

      .chat-message{
        margin-bottom: 40px;

        &__name{
          margin-right: 10px;
          font-size: 16px;
          color: #434a54;
          font-weight: bold;
        }

        &__date{
          color: #999999;
          font-size: 12px;
        }
        &__text{
          margin-top: 10px;
          color: #434a54;
          font-size: 14px;
        }
      }
    }

    .message-area{
      position: absolute;
      bottom:0;
      left: 0;
      right:0;
      margin-bottom: 0;
      padding: 20px 40px;
      background-color: $right-content-bottom;
      height:50px;
      overflow: hidden;

      .wrapper{
        height: 50px;
        color: #434a54;
        float: left;
        width: 100%;
        margin-right: -130px;
        padding-right: 130px;
        box-sizing: border-box;
        .message-area__text{
          width: 100%;
          height: 100%;
          border: none;
          padding-left: 10px;
        }
      }
      .message-area__image{
        position:absolute;
        right:125px;
        top:32px;
        width: 50px;
        padding-left: 10px;
        padding-right: 10px;
      }
      .message-area__button{
        background-color: #38aef0;
        padding: 0 20px;
        height: 50px;
        width: 100px;
        color: white;
        border: none;
        float: left;
        margin-left: 30px;
      }
    }
  }
