.group-bar{
  background-color: $right-content-upper;
  padding: 0 40px;
  height: 110px;
  border-bottom: solid 1px #eeeeee;
  @include clearfix;

  &__text{
    float: left;

    h1{
      margin-top: 35px;
      font-size: 20px;
      color: #333333;
    }

    p{
      color:$sub-description;
      margin: 15px 0;
    }
  }

  .group-bar__edit{
    float: right;
    margin-top:28px;
    padding: 0 20px;
    line-height: 40px;
    text-decoration: none;
    border: solid 1px $edit-send-botton;
    color: $edit-send-botton;
  }
}
