.group-name-list {
    position: absolute;
    top: 110px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    background-color: $left-content-bottom;
    &__item {
        a {
            text-decoration: none;
            color: white;
            display: block;
            padding: 20px;
            width: 100%;
        }
        &--upper {
            font-size: 15px;
            margin-bottom: 5px;
        }
        &--bottom {
            font-size: 11px;
        }
    }
}
