.chat-area{
  position: absolute;
  top:111px;
  left: 0;
  right: 0;
  bottom: 90px;
      // overflow: auto;
      width: 100%;
      padding: 46px 40px 1px 40px;
      background-color: $right-content-middle;
      @include clearfix;

      .chat-message{
        margin-bottom: 40px;

        &__name{
          margin-right: 10px;
          font-size: 16px;
          color: #434a54;
          font-weight: bold;
        }

        &__date{
          color: #999999;
          font-size: 12px;
        }
        &__text{
          margin-top: 10px;
          color: #434a54;
          font-size: 14px;
        }
      }
    }
